@import url(https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap);

@import url(components/container.css);

@import url(components/avatar.css);

@import url(components/button.css);

@import url(components/banner.css);

@import url(components/card.css);

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Lora", serif;
  font-size: 18px;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  margin: 1.3rem 0 2rem 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
